<a href="/">back</a>

<p><i> Ecrit par : <%= @post.user.name %></i></p>
<p><i> Categorie : <%= @post.category.name %></i></p>
<h2>
  <span><%= @post.id %></span> <%= @post.title %>
</h2>
<p> <%= l(@post.created_at, format: :default )%></p>
<p> <%= l(@post.created_at, format: :short )%></p>
<p>
  <%= @post.content %>
</p>

<div>
  <% @post.tags.each do |tag| %>
    <div class="chip">
      <%= tag.name %>
    </div>
  <% end %>
</div>